<ion-header>
  <ion-navbar color="primary">
    <ion-title>{{ 'literals.tickets' | trans }}</ion-title>
  </ion-navbar>

</ion-header>
<ion-content>
  <ion-refresher (ionRefresh)="query = '';getWaitingTickets($event)" [enabled]="!loading" color="primary">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div text-center>
    <ion-spinner color="primary" *ngIf="loading"></ion-spinner>
    <div *ngIf="!loading && _tickets && _tickets.data.length === 0">
      <img src=".assets/logo-happy.png" alt="no ticktes">
      <h4 ion-text color="primary">
        {{'__.No hay tickets Pendientes' | trans }}
      </h4>
    </div>
  </div>
  <div *ngFor="let group of groups | keys">
    <div *ngIf="group.value.length > 0">
      <ion-card-header color="primary">
        {{ translations[group.key] }}
      </ion-card-header>
      <ion-card>
        <ion-list>
          <button ion-item class="ticket-item" (click)="actions(ticket)" [ngClass]="ticket.status" *ngFor="let ticket of group.value">
            <span item-left class="indicator"></span>
            <h2 text-wrap> {{ ticket.subject }} </h2>
            <p *ngIf="ticket.user">
              {{ ticket.user.name}}
              <span *ngIf="ticket.user.residence"> - {{ ticket.user.residence.name }} </span>
            </p>
            <ion-note>
              {{ ticket.created_at | amDateFormat:'LLL' }}
            </ion-note>
            <ion-badge item-right [ngClass]="ticket.status">
              {{ 'literals.'+ ticket.status | trans }}
            </ion-badge>
          </button>
        </ion-list>
      </ion-card>
    </div>
  </div>

</ion-content>
