<ion-list no-margin>
  <ion-item>
    <label class="label-input" for="">{{'date.from' | trans}}</label>
    <input [(ngModel)]="filters.start" type="date" [placeholder]="'date.from' | trans" class="date-input">
  </ion-item>
  <ion-item>
    <label class="label-input" for="">{{'date.to' | trans}}</label>
    <input [(ngModel)]="filters.end" type="date" [placeholder]="'date.to' | trans" class="date-input">
  </ion-item>
  <button ion-item (click)="selectPerson()">
    <h2 *ngIf="!person">
      {{'literals.select' | trans }} {{ 'literals.person' | trans }}
    </h2>
    <ion-avatar item-left *ngIf="person">
      <img [src]="person.image_url" alt="" *ngIf="person && person.image_url">
    </ion-avatar>
    <span *ngIf="person">
      <span>{{person.name}}</span>
    </span>
    <ion-icon item-end name="arrow-dropdown"></ion-icon>
  </button>
  <button ion-button block color="secondary" (click)="close()">
    {{ 'crud.save' | trans }}
  </button>
</ion-list>
