<ion-content padding>
  <div text-center>
    <img *ngIf="!api.url" src="./assets/logo-completo.png" style="height:85px">
    <img *ngIf="api.url" [src]="api.url+ 'img/logo.png'" style="height:85px">
  </div>
  <div *ngIf="!api.url">
    <input class="code" type="text" [(ngModel)]="code" placeholder="CODIGO" (input)="verifyCode()">
  </div>

  <ion-list *ngIf="api.url">
    <!-- <ion-item>
            <ion-label floating>Url</ion-label>
            <ion-input type="url" [(ngModel)]="api.url"></ion-input>
        </ion-item> -->
    <ion-item>
      <ion-label floating>Email</ion-label>
      <ion-input type="email" [(ngModel)]="api.username"> </ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Contraseña</ion-label>
      <ion-input type="password" [(ngModel)]="api.password"></ion-input>
    </ion-item>

    <button style="margin-top:15px" full large ion-button color="secondary" icon-right (click)="login()">
      Iniciar Sesion
      <ion-icon name="log-in"></ion-icon>
    </button>
    <button *ngIf="!preconfigured" ion-button clear full large color="primary" (click)="goBack()">
      Volver
    </button>

    <!--<button style="margin-top:15px" full ion-button icon-left (click)="loginWithFacebook()">
      <ion-icon name="logo-facebook"></ion-icon>
      Iniciar sesion con Facebook
  </button>

    <button style="margin-top:15px" full ion-button color="danger" icon-left (click)="loginWithGoogle()">
    <ion-icon name="logo-googleplus"></ion-icon>
    Iniciar sesion con Google
  </button>-->

  </ion-list>
</ion-content>
