<button ion-item (click)="selectResidence()" padding-vertical>
  <ion-spinner item-left *ngIf="!ready"></ion-spinner>
  <h2 *ngIf="!multiple && !residence">
    {{'literals.select' | trans }} {{'literals.residence' | trans }}
  </h2>
  <div *ngIf="multiple">
    {{ selecteds.length}} {{ 'crud.selecteds' | trans }}
  </div>

  <ion-avatar item-left *ngIf="residence && residence.image_url">
    <img [src]="residence.image_url" alt="">
  </ion-avatar>
  <h2 *ngIf="residence">
    <span>{{residence.name}}</span>
  </h2>
  <ion-icon item-end name="arrow-dropdown"></ion-icon>
</button>
