<ion-header>

  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{'__.Punto de Venta' | trans }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content no-padding>
  <ion-item>
    <ion-label inline>
      {{'literals.residence' | trans }}
    </ion-label>
    <ion-select (ionChange)="getResidents()" [(ngModel)]="charge.residence_id">
      <ion-option [value]="residence.id" *ngFor="let residence of residences">{{residence.name}}</ion-option>
    </ion-select>
  </ion-item>
  <ion-item *ngIf="residents.length > 0">
    <ion-label inline>
      {{'literals.user' | trans }}
    </ion-label>
    <ion-select [(ngModel)]="charge.user_id">
      <ion-option [value]="user.id" *ngFor="let user of residents">{{user.name}}</ion-option>
    </ion-select>
  </ion-item>

  <ion-list>
    <div *ngIf="mode=='restricted'">
      <ion-grid *ngFor="let item of items; let i = index">
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label floating>{{'literals.concept' | trans}}</ion-label>
              <ion-input disabled [(ngModel)]="item.concept" [placeholder]=" 'literals.concept' | trans"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item>
              <ion-label floating>{{'literals.amount' | trans}}</ion-label>
              <ion-input disabled [(ngModel)]="item.amount" type="number" min="0" [placeholder]=" 'literals.amount' | trans"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item>
              <ion-label floating>{{'literals.quantity' | trans}}</ion-label>
              <ion-input [(ngModel)]="item.quantity" type="number" min="1" [placeholder]=" 'literals.quantity' | trans"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col col-1>
            <button ion-button color="danger" clear icon-only (click)="removeItem(i)">
              <ion-icon name="remove"></ion-icon>
            </button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <div *ngIf="mode!=='restricted'" #listed>
      <ion-grid *ngFor="let item of items; let i = index">
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label floating>{{'literals.concept' | trans}}</ion-label>
              <ion-input [(ngModel)]="item.concept" [placeholder]=" 'literals.concept' | trans"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item>
              <ion-label floating>{{'literals.amount' | trans}}</ion-label>
              <ion-input [(ngModel)]="item.amount" type="number" min="0" [placeholder]=" 'literals.amount' | trans"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item>
              <ion-label floating>{{'literals.quantity' | trans}}</ion-label>
              <ion-input [(ngModel)]="item.quantity" type="number" min="1" [placeholder]=" 'literals.quantity' | trans"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col col-1>
            <button ion-button color="danger" clear icon-only (click)="removeItem(i)">
              <ion-icon name="remove"></ion-icon>
            </button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <ion-item>
      <button (click)="addItem()" ion-fab small mini item-right>
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-item>
  </ion-list>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col text-right>
          <b>{{'literals.total' | trans }}:</b>
          <span>{{total() | currency:'USD':true:'1.2-2' }}</span>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <button ion-button full color="light" (click)="clear()">
            {{'crud.clear' | trans}}
          </button>
        </ion-col>
        <ion-col>
          <button ion-button full color="secondary" (click)="actions()" [disabled]="!canProccess()">
            {{'crud.proccess' | trans}}
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>
<div id="toPrint" *ngIf="toPrint">
  <div class="invoice-box">
    <table cellpadding="0" cellspacing="0">
      <tr class="top">
        <td colspan="2">
          <table>
            <tr>
              <td class="title">
                <img [src]="api.url + 'img/logo.png'" style="width:100%; max-width:300px;">
              </td>

              <td>
                {{'literals.invoice' | trans }} #: {{toPrint.invoice.number}}

                <br> Created: January 1, 2017
                <br> Due: February 1, 2017
              </td>
            </tr>
          </table>
        </td>
      </tr>

      <tr class="information">
        <td colspan="2">
          <table>
            <tr>
              <td>
                Next Step Webs, Inc.
                <br> 12345 Sunny Road
                <br> Sunnyville, TX 12345
              </td>

              <td>
                <br> {{ toPrint.user.name }}

                <br> {{ toPrint.user.email}}
              </td>
            </tr>
          </table>
        </td>
      </tr>

      <tr class="heading">
        <td>
          {{'literals.payment' | trans }} {{'literal.method'| trans }}
        </td>

        <td>
          {{ toPrint.invoice.payment }}
        </td>
      </tr>

      <tr class="details">
        <td>
          Check
        </td>

        <td>
          1000
        </td>
      </tr>

      <tr class="heading">
        <td>
          Item
        </td>

        <td>
          Quantity
        </td>
        <td>
          Price
        </td>

        <td>
          Subtotal
        </td>
      </tr>

      <tr class="item last" *ngFor="let item of toPrint.invoice">
        <td>
          {{item.concept}}
        </td>

        <td>
          {{item.price}}
        </td>
        <td>
          {{item.quantity}}
        </td>

        <td>
          {{item.total}}
        </td>
      </tr>

      <tr class="total">
        <td></td>
        <td></td>
        <td></td>
        <td>
          Total: {{Total()}}
        </td>
      </tr>
    </table>
  </div>

</div>
