<ion-header class="no-printable">
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{'__.Punto de Venta' | trans }}</ion-title>

    <ion-buttons end>
      <button ion-button (click)="more($event)" icon-only clear>
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content class="no-printable" no-padding>
  <button ion-item (click)="selectPerson()">
    <h2 *ngIf="!person">
      {{'literals.select' | trans }} {{ 'literals.person' | trans }}
    </h2>
    <ion-avatar item-left>
      <img [src]="person.image_url" alt="" *ngIf="person && person.image_url">
    </ion-avatar>
    <span *ngIf="person">
      <b>{{'literals.'+type | trans }}</b>
      <span>{{person.name}}</span>
    </span>
    <ion-icon item-end name="arrow-dropdown"></ion-icon>
  </button>


  <ion-list no-padding no-margin>
    <div *ngIf="mode=='restricted'">
      <ion-grid *ngFor="let item of items; let i = index">
        <ion-row align-items-center align-self-center>
          <ion-col col-1>
            <button ion-button color="danger" clear icon-only (click)="removeItem(i)">
              <ion-icon name="close"></ion-icon>
            </button>
          </ion-col>

          <ion-col col-5>
            <ion-item>
              <ion-label floating>{{'literals.concept' | trans}}</ion-label>
              <ion-input disabled [(ngModel)]="item.concept" [placeholder]=" 'literals.concept' | trans"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col col-3>
            <ion-item>
              <ion-label floating>{{'literals.amount' | trans}}</ion-label>
              <ion-input disabled [(ngModel)]="item.amount" type="number" min="0" [placeholder]=" 'literals.amount' | trans"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col col-3>
            <ion-item>
              <ion-label floating>{{'literals.quantity' | trans}}</ion-label>
              <ion-input [(ngModel)]="item.quantity" type="number" min="1" [placeholder]=" 'literals.quantity' | trans"></ion-input>
            </ion-item>
          </ion-col>

        </ion-row>
      </ion-grid>
    </div>
    <div *ngIf="mode!=='restricted'" #listed>
      <ion-grid *ngFor="let item of items; let i = index">
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label floating>{{'literals.concept' | trans}}</ion-label>
              <ion-input [(ngModel)]="item.concept" [placeholder]=" 'literals.concept' | trans"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item>
              <ion-label floating>{{'literals.amount' | trans}}</ion-label>
              <ion-input [(ngModel)]="item.amount" type="number" min="0" [placeholder]=" 'literals.amount' | trans"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item>
              <ion-label floating>{{'literals.quantity' | trans}}</ion-label>
              <ion-input [(ngModel)]="item.quantity" type="number" min="1" [placeholder]=" 'literals.quantity' | trans"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col col-1>
            <button ion-button color="danger" clear icon-only (click)="removeItem(i)">
              <ion-icon name="remove"></ion-icon>
            </button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <ion-item>
      <button (click)="addItem()" ion-fab small mini item-right>
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-item>
  </ion-list>
</ion-content>


<ion-footer class="no-printable">
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col text-right>
          <b>{{'literals.total' | trans }}:</b>
          <span>{{total() | currency:'USD':'symbol-narrow':'1.0-0' }}</span>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <button ion-button full color="light" (click)="clear()">
            {{'crud.clear' | trans}}
          </button>
        </ion-col>
        <ion-col>
          <button ion-button full color="secondary" (click)="actions()" [disabled]="!canProccess()">
            {{'crud.proccess' | trans}}
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>
