<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{'literals.visits' | trans}}</ion-title>
  </ion-navbar>
  <ion-toolbar>
    <ion-searchbar [(ngModel)]="query" [debounce]="700" (ionInput)="filter()">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list [virtualScroll]="visits">
    <button ion-item (click)="actions(visit)" *virtualItem="let visit">
      <h2 *ngIf="visit.visitor">
        {{visit.visitor.name }}
        <br>
        <span *ngIf="visit.residence">{{visit.residence.name}}</span>
        <br>
        <small>{{visit.visitor.document}}</small>
      </h2>
      <p *ngIf="visit.vehicle" text-wrap>
        {{ visit.vehicle.name }} - {{visit.vehicle.plate}}
      </p>
      <span item-right>
        {{ visit.created_at |amCalendar }}
        <br>
        <span ion-text [color]="visit.status == 'approved' ? 'secondary' : visit.status == 'rejected' ? 'danger' : ''">
          {{ 'literals.'+ visit.status | trans }}
        </span>
      </span>
    </button>
  </ion-list>
</ion-content>
