<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{'literals.visits' | trans}}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only>
          <ion-icon name="funnel"></ion-icon>
        </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <button ion-item (click)="actions(visit)" *ngFor="let visit of api.visits">
      <h2 *ngIf="visit.visitor">
        {{visit.visitor.name }}
        <br>
        <span>{{visit.visitor.document}}</span>
      </h2>
      <span item-right>
        {{ visit.created_at |amCalendar }} <br>
        {{ 'literals.'+ visit.status | trans }}
      </span>
    </button>
  </ion-list>
</ion-content>
