<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{'literals.visits' | trans}}</ion-title>
    <ion-buttons end>
      <button ion-button clear icon-only (click)="moreFilters($event)">
        <ion-icon name="funnel"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-toolbar>
    <ion-searchbar [(ngModel)]="query" [debounce]="700" (ionInput)="filter()">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div text-center>
    <ion-spinner *ngIf="loading"></ion-spinner>
  </div>
  <!-- No Results -->
  <div text-center *ngIf="visits.length == 0 && !loading">
    <img src="./assets/logo-sad.png" alt="no results" style="width:100%;max-width:300px;">
    <h4 ion-text color="primary">
      {{'__.No hay :visits' | trans:{visits: 'literals.visits' | trans } }}
    </h4>
  </div>
  <ion-list [virtualScroll]="visits" approxItemHeight="100px">
    <button ion-item (click)="actions(visit)" *virtualItem="let visit">
      <ion-avatar item-left>
        <img *ngIf="visit.visitor && visit.visitor.image_url" [src]="visit.visitor.image_url" onerror="this.style.display = 'none'">
      </ion-avatar>
      <h2 *ngIf=" visit.visitor ">
        {{visit.visitor.name }}
        <small>({{visit.visitor.document}})</small>
        <br>
        <span *ngIf="visit.visitors_count> 1">
          {{ '__.and others' | trans }} {{visit.visitors_count - 1}}
        </span>
        <span *ngIf="visit.residence">{{visit.residence.name}}</span>
        <br>

      </h2>
      <h2 *ngIf="visit.guest">
        {{visit.guest.name }}
        <small> ({{visit.guest.document}})</small>
        <br>
        <span *ngIf="visit.residence">{{visit.residence.name}}</span>
        <p *ngIf="visit.guest.reason">
          <b>{{'literals.reason' | trans }}</b>
          <span>{{visit.guest.reason}}</span>
        </p>
      </h2>
      <p *ngIf="visit.vehicle" text-wrap>
        {{ visit.vehicle.name }} - {{visit.vehicle.plate}}
      </p>
      <span>
        <b>{{'literals.status' | trans }}:</b>
        <span ion-text [color]="visit.status == 'approved' ? 'secondary' : visit.status == 'rejected' ? 'danger' : ''">
          {{ 'literals.'+ visit.status | trans }}
        </span>
      </span>
      <span *ngIf="visit.note">
        <br>
        <b>{{'literals.note' | trans }}:</b>
        {{visit.note}}
      </span>
      <p item-right text-right>
        {{ visit.created_at | amDateFormat:'D MMMM YYYY, h:mm:ss a' }}
        <br>
        <span *ngIf="visit.departured_at">
          <b>{{'literals.departured' | trans }}:</b>
          <span>
            {{visit.departured_at | amDateFormat:'D MMMM YYYY, h:mm:ss a' }}
          </span>
        </span>
      </p>
    </button>
  </ion-list>
</ion-content>
