<ion-header>
  <ion-navbar color="danger">
    <ion-title>{{ '__.SOS' | trans }}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="close()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <h2>{{ '__.Hay una emergencia' | trans }}</h2>
  <ion-list>

    <div *ngIf="user && user.image_url" text-center>
      <img [src]="user.image_url" [alt]="user.name" class="avatar-panic">
    </div>
    <ion-item>
      <b>{{ 'literals.user' | trans }}</b>
      <span item-right>{{ user.name }}</span>
    </ion-item>

    <ion-item>
      <b>{{ 'literals.residence' | trans }}</b>
      <span item-right>{{ residence.name }}</span>
    </ion-item>

    <ion-item *ngIf="location">
      <b>{{ 'literals.location' | trans }}</b>
      <span item-right>{{ location }}</span>
    </ion-item>
  </ion-list>
  <p>
    {{ datetime.format('llll') }}
  </p>
</ion-content>
