<ion-header>
  <ion-navbar color="primary">
    <button icon-only menuToggle ion-button>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ api.trans('literals.lobby') }}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only clear (click)="findPerson()">
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

  <ion-toolbar>
    <ion-searchbar *ngIf="ready" (ionInput)="searchPerson();filter();getVisitors()" [(ngModel)]="query" debounce="700" [placeholder]="('literals.search' | trans)  + ' ' + ('literals.document' | trans)"></ion-searchbar>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div text-center *ngIf="loading || !ready">
    <ion-spinner color="primary"></ion-spinner>
  </div>
  <input type="file" name="filer" accept="image/*" (change)="readFile($event)" id="input-file-person" style="display:none;">



  <ion-grid>
    <ion-row>

      <!-- Visitors -->
      <ion-col col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 *ngIf="!person">
        <ion-card>
          <ion-list-header>
            <ion-icon name="people" item-left></ion-icon>
            {{'literals.visitors' | trans }}
            <ion-note color="favorite">{{ api.objects.visitors?.length}}</ion-note>
            <button ion-button clear icon-only item-right color="primary" (click)="gotoVisitors()">
              <ion-icon name="search"></ion-icon>
            </button>
          </ion-list-header>
          <ion-list>
            <button ion-item *ngFor="let visitor of visitors" (click)="actions_visitor(visitor)">

              <ion-avatar item-left>
                <img [src]="visitor.image_url" alt="">
              </ion-avatar>
              <h2>{{visitor.name}}</h2>
              <p>{{visitor.document}}</p>
              <span>{{visitor.notes}}</span>
              <p item-right>{{visitor.residence?.name}}</p>
            </button>
            <ion-item-divider text-capitalize>
              <button ion-button block clear (click)="gotoVisitors()">
                {{'crud.all' | trans }} {{'literals.visitors' | trans}}
              </button>
            </ion-item-divider>
          </ion-list>
        </ion-card>
      </ion-col>

      <!-- Visits -->
      <ion-col col-12 col-sm-6 col-md-6 col-lg-5 col-xl-5 *ngIf="!person">
        <ion-card>
          <ion-list-header>
            <ion-icon name="list" item-left></ion-icon>
            {{'literals.visits' | trans }}
            <ion-note color="favorite">{{ _visits?.total}}</ion-note>
            <button item-right ion-button clear icon-only (click)="gotoVisits()">
              <ion-icon name="search"></ion-icon>
            </button>
          </ion-list-header>
          <ion-list>

            <button ion-item *ngFor="let visit of visits" (click)="actions_visit(visit)">
              <ion-avatar item-left>
                <img [src]="visit.visitor?.image_url" alt="">
              </ion-avatar>
              <h2 text-wrap>{{visit.visitor?.name}}
                <span *ngIf="visit.visitors_count> 1">
                  {{ '__.and others' | trans }} {{visit.visitors_count - 1}}
                </span>
              </h2>
              <p>{{visit.visitor?.document}}</p>
              <span>{{visit.visitor?.residence?.name}}</span>

              <span>
                <span ion-text [color]="visit.status == 'approved' ? 'secondary' : visit.status == 'rejected' ? 'danger' : visit.status == 'waiting for confirmation' ? 'warning' : visit.status == 'departured' ? 'neutral' : ''">
                  {{ 'literals.'+ visit.status | trans }}
                </span>
              </span>
              <p item-right text-right class="hidden-xs hidden-sm">
                <b>{{'literals.arrive' | trans }}:</b>
                {{ visit.created_at | amDateFormat:'D MMM Y, h:mm:ss a' }}
                <br>
                <span *ngIf="visit.departured_at">
                  <b>{{'literals.departured' | trans }}:</b>
                  <span>
                    {{visit.departured_at | amDateFormat:'D MMM Y, h:mm:ss a' }}
                  </span>
                </span>
              </p>
            </button>

            <ion-item-divider text-capitalize>
              <button ion-button block clear (click)="gotoVisits()">
                {{'crud.all' | trans }} {{'literals.visits' | trans}}
              </button>
            </ion-item-divider>
          </ion-list>
        </ion-card>
      </ion-col>

      <!-- Person -->
      <ion-col col-12 col-sm8 col-md-8 col-lg-9 col-xl-9 *ngIf="person">


        <div *ngIf="person">

          <!-- Image and type -->
          <ion-card-header text-center>
            <div text-right>
              <ion-badge color="primary">{{'literals.'+ type | trans}}</ion-badge>
            </div>
            <img [src]="person.image_url" (click)="askFile()" tappable class="img-person">
          </ion-card-header>

          <!-- Fingerprint -->
          <ion-card-header text-center>
            <button ion-button large round full clear icon-left [disabled]="true">
              <ion-icon name="finger-print"></ion-icon>
              {{ 'literals.fingerprint' | trans }}
            </button>
          </ion-card-header>

          <!-- Person Data -->
          <ion-list>
            <ion-item>
              <b item-left>{{'literals.name' | trans }}</b>
              <span item-right>{{person.name}}</span>
            </ion-item>

            <ion-item>
              <b item-left>{{'literals.document' | trans }}</b>
              <span item-right>{{person.document}}</span>
            </ion-item>

            <ion-item *ngIf="type == 'worker'">
              <b item-left>{{'literals.work' | trans }}</b>
              <span item-right>{{person.work}}</span>
            </ion-item>

            <ion-item>
              <b item-left>{{'literals.residence' | trans }}</b>
              <span item-right>{{person.residence?.name}}</span>
            </ion-item>


          </ion-list>


          <!-- Visitor Actions -->
          <div text-right *ngIf="type === 'visitor'">
            <button [disabled]="loading && person.id" ion-button outline color="primary" (click)="addVisit(person)">
              {{ 'crud.add' | trans }} {{ 'literals.visit' | trans }}
            </button>
            <button ion-button color="secondary" (click)="visitorModal(person)" icon-left [disabled]="!canSave() || loading">
              <ion-icon class="fa fa-edit"></ion-icon>
              {{'crud.edit' | trans }}
            </button>
            <br>
            <br>
            <button ion-button (click)="visitModal(person)" color="favorite" small clear icon-left [disabled]="!canSave() || loading">
              {{'literals.configure' | trans }} {{'literals.visit' | trans }}
            </button>
          </div>
        </div>

        <!-- No Results -->
        <div text-center *ngIf="no_results">
          <img src="./assets/logo-sad.png" alt="no results" style="width:100%;max-width:300px;">
          <h4 ion-text color="primary">
            {{'__.No hay coincidencias exactas en el campo' | trans }} {{ 'literals.document' | trans }}
          </h4>
          <div text-right>
            <button (click)="visitorModal({document:query, sex:'male'})" ion-button clear color="secondary"> {{'crud.add' | trans}} {{ 'literals.visitor' | trans}}</button>
          </div>
        </div>

      </ion-col>

      <!-- Pre Approved -->
      <ion-col col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3>
        <ion-card>
          <ion-list-header text-capitalize> {{ api.trans('literals.visits')}} pre {{ api.trans('literals.approveds_f')}}</ion-list-header>
          <ion-list>
            <ion-item-sliding *ngFor="let visit of api.visits_approved;let i= index">
              <button ion-item (tap)="viewVisit(visit,i)" [ngClass]="{attention: visit.visitor?.id == person?.id }">
                <ion-thumbnail *ngIf="visit.visitor?.image_url" item-left (click)="askFile(visit.visitor);$event.stopPropagation()">
                  <img [src]="visit.visitor.image_url">
                </ion-thumbnail>
                <ion-thumbnail item-left *ngIf="visit.guest?.image_url">
                  <img [src]="visit.guest.image_url">
                </ion-thumbnail>
                <div *ngIf="visit.visitor">
                  <span>
                    {{visit.visitor.name }}
                  </span>
                  <span *ngIf="visit.visitors && visit.visitors.length > 1">{{'__.and others' | trans }} {{visit.visitors.length - 1}}</span>
                  <p *ngIf="api.residences_collection[visit.residence_id]" text-left>
                    {{api.residences_collection[visit.residence_id].name}}
                  </p>
                  <p>
                    {{visit.note}}
                  </p>
                  <small *ngIf="visit.user">{{'literals.user' | trans }}: {{visit.user.name}}</small>
                  <p>
                    {{ visit.created_at | amCalendar }}
                  </p>
                </div>
                <div *ngIf="visit.guest">

                  <span>
                    {{visit.guest.name }}
                  </span>
                  <p *ngIf="api.residences_collection[visit.residence_id]" text-left>
                    {{api.residences_collection[visit.residence_id].name}}
                  </p>
                  <p>
                    {{visit.note}}
                  </p>
                  <small *ngIf="visit.user">{{'literals.user' | trans }}: {{visit.user.name}}</small>
                  <p>
                    {{ visit.created_at | amCalendar }}
                  </p>
                </div>
              </button>
              <ion-item-options side="right">
                <button ion-button color="secondary" (click)="dismissPreApproved(visit,i)">
                  <ion-icon name="checkbox-outline"></ion-icon>
                  {{ 'literals.done' | trans }}
                </button>
              </ion-item-options>
            </ion-item-sliding>
          </ion-list>
        </ion-card>
      </ion-col>

    </ion-row>
  </ion-grid>

  <ion-fab bottom right #fab>
    <button ion-fab>
      <ion-icon name="add"></ion-icon>
    </button>
    <ion-fab-list side="top">
      <div class="fab-label-button">
        <button ion-fab color="secondary" (click)="visitorModal(); fab.close()">
          <ion-icon name="person"></ion-icon>
        </button>
        <div class="label">{{'crud.add' | trans }} {{'literals.person' | trans }}</div>
      </div>

      <div class="fab-label-button">
        <button ion-fab color="primary" (click)="visitModal(); fab.close()">
          <ion-icon name="contacts"></ion-icon>
        </button>
        <div class="label">{{'crud.add' | trans }} {{'literals.visit' | trans }}</div>
      </div>

      <div class="fab-label-button">
        <button ion-fab color="favorite" (click)="addDelivery(); fab.close()">
          <ion-icon class="fa fa-truck"></ion-icon>
        </button>
        <div class="label">{{'crud.add' | trans }} {{'literals.delivery' | trans }}</div>
      </div>
    </ion-fab-list>
  </ion-fab>
</ion-content>
