<ion-header>
  <ion-navbar color="primary">
      <button icon-only menuToggle ion-button>
          <ion-icon name="menu"></ion-icon>
      </button>
    <ion-title>{{ api.trans('literals.lobby') }}</ion-title>
    <ion-buttons end>
      <button ion-button clear icon-only (click)="more($event)">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-toolbar >
    <ion-searchbar *ngIf="ready" (ionInput)="searchVisitor()" [(ngModel)]="query"  debounce="700" [placeholder]="'literals.document' | trans"></ion-searchbar>
  </ion-toolbar>
</ion-header>
<ion-content>

  <div text-center *ngIf="loading || !ready">
    <ion-spinner color="primary"></ion-spinner>
  </div>
  <input type="file" name="filer" accept="image/*" (change)="readFile($event)" id="input-file-person" style="display:none;">

  <div *ngIf="person" padding>
    <ion-card-header text-center>
      <img [src]="person.image_url" (click)="askFile()" tappable class="img-person">
    </ion-card-header>
    <ion-card-header text-center>
      <button  ion-button large round  full clear icon-left [disabled]="true">
        <ion-icon name="finger-print"></ion-icon>
         {{ 'literals.fingerprint' | trans }}
      </button>
    </ion-card-header>
    <ion-list>
      <ion-item>
        <b item-left>{{'literals.name' | trans }}</b>
        <span item-right>{{person.name}}</span>
      </ion-item>

      <ion-item>
        <b item-left>{{'literals.document' | trans }}</b>
        <span item-right>{{person.document}}</span>
      </ion-item>

      <ion-item>
        <b item-left>{{'literals.relationship' | trans }}</b>
        <span item-right>{{person.relationship}}</span>
      </ion-item>

      <ion-item>
        <b item-left>{{'literals.residence' | trans }}</b>
        <span item-right>{{person.residence?.name}}</span>
      </ion-item>


    </ion-list>
    <div text-right>
        <button [disabled]="loading && person.id" ion-button  outline color="primary" (click)="addVisit(person)">
          {{ 'crud.add' | trans }} {{ 'literals.visit' | trans }}
        </button>
        <button ion-button color="secondary" (click)="visitorModal(person)" icon-left [disabled]="!canSave() || loading">
          <ion-icon class="fa fa-edit"></ion-icon>
          {{'crud.edit'  | trans }}
        </button>
        <br><br>
        <button ion-button (click)="visitModal(person)" color="favorite" small clear icon-left [disabled]="!canSave() || loading">
           {{'crud.add' | trans }} {{'__.advanced visit' | trans }}
        </button>
    </div>
  </div>

  <div text-center *ngIf="no_results">
      <img src="./assets/logo-sad.png" alt="no results" style="width:100%;max-width:300px;">
      <h4 ion-text color="primary">
        {{'__.No hay coincidencias' | trans }}
      </h4>
      <div text-right>
         <button (click)="visitorModal({document:query, sex:'male'})" ion-button clear color="secondary"> {{'crud.add' | trans}} {{ 'literals.visitor' | trans}}</button>
      </div>
  </div>

</ion-content>
