page-home {}

.icon-primary {
    ion-icon {
        color: color($colors, 'primary');
    }
}

.icon-warning {
    ion-icon {
        color: color($colors, 'warning');
    }
}

.icon-danger {
    ion-icon {
        color: color($colors, 'danger');
    }
}

.icon-danger {
    ion-icon {
        color: color($colors, 'danger');
    }
}