<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ api.trans('literals.visitors')}} </ion-title>
  </ion-navbar>
  <ion-toolbar>
    <ion-searchbar (ionInput)="null" [debounce]="700" [(ngModel)]="query"></ion-searchbar>
  </ion-toolbar>
</ion-header>
<ion-content>
  <input type="file" name="filer" accept="image/*" (change)="readFile($event)" id="input-file" style="display:none;">
  <ion-refresher (ionRefresh)="loadVisitors($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-grid>
    <ion-row>
      <ion-col col-12 col-md>
        <ion-card>
          <ion-card-header>{{ api.trans('literals.visitors') }}</ion-card-header>
          <ion-list>
            <button ion-item *ngFor="let visitor of getVisitors()" (click)="actions(visitor)">
                <ion-avatar item-left>
                  <img [src]="visitor.image_url">
                </ion-avatar>
                <h2>
                  {{visitor.name}}
                </h2>
                <h4 *ngIf="visitor.residence" >
                  {{visitor.residence.name}}
                </h4>
                <p>
                  {{ visitor.document }}
                </p>
                <p *ngIf="api.residences_collection[visitor.residence_id]" text-right>
                    {{api.residences_collection[visitor.residence_id].name}}
                </p>
              </button>
          </ion-list>
        </ion-card>
      </ion-col>
      <ion-col col-12 col-md>
        <ion-card>
          <ion-card-header> {{ api.trans('literals.visits')}} pre {{ api.trans('literals.approveds_f')}}</ion-card-header>
          <ion-list>
            <ion-item-sliding *ngFor="let visit of api.visits_approved;let i= index">
              <button ion-item (tap)="viewVisit(visit,i)">
                              <ion-avatar item-left (click)="askFile(visit.visitor);$event.stopPropagation()">
                                <img [src]="visit.visitor.image_url">
                              </ion-avatar>
                              <span>
                                {{visit.visitor.name }}
                              </span>
                              <span *ngIf="visit.visitors && visit.visitors.length > 1">{{'__.and others' | trans }} {{visit.visitors.length - 1}}</span>
                              <p *ngIf="api.residences_collection[visit.residence_id]" text-left>
                                  {{api.residences_collection[visit.residence_id].name}}
                              </p>
                              <p>
                                {{visit.note}}
                              </p>
                              <small *ngIf="visit.user">{{'literals.user' | trans }}: {{visit.user.name}}</small>
                              <p>
                                {{ visit.created_at | amCalendar }}
                              </p>
                            </button>
              <ion-item-options side="right">
                <button ion-button color="secondary" (click)="dismissPreApproved(visit,i)">
                              <ion-icon name="checkbox-outline"></ion-icon>
                              {{ 'literals.done' | trans }}
                            </button>
              </ion-item-options>
            </ion-item-sliding>
          </ion-list>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>



  <ion-fab bottom right>
    <button ion-fab (click)="visitorModal()">
        <ion-icon name="person-add"></ion-icon>
      </button>
  </ion-fab>

</ion-content>
