<ion-header>

  <ion-navbar color="dark">
    <ion-title>{{'crud.add' | trans }} {{ 'literals.visit' | trans }}</ion-title>
    <ion-buttons end>
      <button ion-button icon-left (click)="changeMode()">
        <ion-icon [name]="multiple ? 'checkbox-outline': 'square-outline'"></ion-icon>
        {{'literals.multiple' | trans }}
      </button>
      <button ion-button icon-only (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-list>
    <person-selector [(ngModel)]="visitor" visitors [multiple]="multiple"></person-selector>

    <ion-item>
      <ion-label stacked> {{'literals.status' | trans }} </ion-label>
      <ion-select [(ngModel)]="visit.status">
        <ion-option [value]="status" *ngFor="let status of statutes">{{ 'literals.' + status | trans }} </ion-option>
      </ion-select>
    </ion-item>


    <vehicle-selector [(ngModel)]="vehicle" (onChange)="selectVehicle($event)"></vehicle-selector>


    <ion-item *ngIf="api.objects.parkings">
      <ion-label floating> {{'literals.parking' | trans }} </ion-label>
      <ion-select [(ngModel)]="visit.parking_id">
        <ion-option [value]="parking.id" *ngFor="let parking of api.objects.parkings">{{ parking.name }} </ion-option>
      </ion-select>
    </ion-item>

    <signature color="light" [(ngModel)]="signature"></signature>

    <ion-item>
      <ion-label floating>{{ 'literals.note' | trans }}</ion-label>
      <ion-textarea [(ngModel)]="visit.note"></ion-textarea>
    </ion-item>

  </ion-list>
</ion-content>

<ion-footer>
  <button *ngIf="!visit.id" ion-button [disabled]="!canSave() || loading" full color="secondary" (click)="create()">
    <span *ngIf="loading !== 'uploading signature';else uploadingSignature">
      {{'crud.add' | trans}} {{'literals.visit' | trans }}
    </span>
    <ng-template #uploadingSignature>
      <span>
        {{ '__.uploading signature' | trans }}
      </span>
    </ng-template>
  </button>

  <button ion-button *ngIf="visit.id" [disabled]="!canSave() || loading" full color="secondary" (click)="update()">

    <span *ngIf="loading !== 'uploading signature';else uploadingSignature">
      {{'literals.update' | trans}} {{'literals.visit' | trans }}
    </span>
    <ng-template #uploadingSignature>
      <span>
        {{ '__.uploading signature' | trans }}
      </span>
    </ng-template>
  </button>
</ion-footer>
