// http://ionicframework.com/docs/v2/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
@media (min-width: 600px) {
  .container {
    .scroll-content {
      text-align: center;
      padding-left: 15% !important;
      padding-right: 15% !important;
    }
  }
}

.visit-approved {
  .alert-title,
  .alert-button {
    color: color($colors, "secondary");
  }
}

.visit-rejected {
  .alert-title,
  .alert-button {
    color: color($colors, "danger");
  }
}

.print-only {
  display: none;
}

@media print {
  .no-print,
  .no-printable,
  .back-button {
    display: none !important;
  }
  .print-only {
    display: block;
  }
  ::-webkit-scrollbar {
    display: none !important;
  }
}

.punto {
  width: 210pt !important;
  margin: 0;
  padding: 0;
  h1 {
    font-size: 16px;
  }
  h2 {
    font-size: 14px;
  }
  h3 {
    font-size: 13px;
  }
  h3 {
    font-size: 12px;
  }
}

.icon-primary {
  ion-icon {
    color: color($colors, 'primary');
  }
}

.icon-warning {
  ion-icon {
    color: color($colors, 'warning');
  }
}

.icon-secondary {
  ion-icon {
    color: color($colors, 'secondary');
  }
}

.icon-favorite {
  ion-icon {
    color: color($colors, 'favorite');
  }
}

.icon-danger {
  ion-icon {
    color: color($colors, 'danger');
  }
}

// INVOICE
.pos-items {
  font-size: smaller;
}

.separator {
  border: .4px solid black;
  min-width: 200pt;
  width: 200pt;
  text-align: center;
}

.signature {
  border: 0;
  border-bottom: 1px solid #000;
  max-width: 300px;
  margin: 0 auto;
}

.invoice-box {
  max-width: 800px;
  margin: auto;
  padding: 30px;
  border: 1px solid #eee;
  box-shadow: 0 0 10px rgba(0, 0, 0, .15);
  font-size: 16px;
  line-height: 24px;
  font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
  color: #555;
}

.invoice-box table {
  width: 100%;
  line-height: inherit;
  text-align: left;
}

.invoice-box table td {
  padding: 5px;
  vertical-align: top;
}

.invoice-box table tr td:nth-child(2) {
  text-align: right;
}

.invoice-box table tr.top table td {
  padding-bottom: 20px;
}

.invoice-box table tr.top table td.title {
  font-size: 45px;
  line-height: 45px;
  color: #333;
}

.invoice-box table tr.information table td {
  padding-bottom: 40px;
}

.invoice-box table tr.heading td {
  background: #eee;
  border-bottom: 1px solid #ddd;
  font-weight: bold;
}

.invoice-box table tr.details td {
  padding-bottom: 20px;
}

.invoice-box table tr.item td {
  border-bottom: 1px solid #eee;
}

.invoice-box table tr.item.last td {
  border-bottom: none;
}

.invoice-box table tr.total td:nth-child(2) {
  border-top: 2px solid #eee;
  font-weight: bold;
}

@media only screen and (max-width: 600px) {
  .invoice-box table tr.top table td {
    width: 100%;
    display: block;
    text-align: center;
  }
  .invoice-box table tr.information table td {
    width: 100%;
    display: block;
    text-align: center;
  }
}

// FAB STUFFS
.fab-label-button {
  .label {
    position: absolute;
    background: #222;
    color: white;
    padding: 4px 8px;
    border-radius: 5px;
    right: 65px;
    white-space: nowrap;
    animation: backwards .7s fadeIn;
  }
}

.fab-label-button:nth-child(1) {
  .label {
    bottom: 15px !important;
    animation-delay: .0s;
  }
}

.fab-label-button:nth-child(2) {
  .label {
    bottom: 70px !important;
    animation-delay: .1s;
  }
}

.fab-label-button:nth-child(3) {
  .label {
    bottom: 125px !important;
    animation-delay: .2s;
  }
}

.fab-label-button:nth-child(4) {
  .label {
    bottom: 180px !important;
    animation-delay: .3s;
  }
}

.fadeIn {
  opacity: 0;
  animation: fadeIn;
  animation-delay: .2s;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.scale {
  opacity: 0;
  animation: scale;
  animation-delay: .2s;
  animation-duration: .2s;
  animation-fill-mode: forwards;
}

@keyframes scale {
  from {
    opacity: 0;
    transform: rotate(-180);
    transform: scale(.2);
  }
  to {
    opacity: 1;
    transform: rotate(0);
    transform: scale(1);
  }
}

@media screen and (min-width: 0px) and (max-width: 400px) {
  .hidden-xs {
    display: none;
  }
  /* show it on small screens */
}

@media screen and (min-width: 401px) and (max-width: 768px) {
  .hidden-sm {
    display: none;
  }
}
