<ion-split-pane>

  <ion-menu [content]="content" [enabled]="api.user" class="no-printable">

    <ion-header>
      <ion-toolbar color="dark">
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-list>
        <button menuClose ion-item (click)="goHome()" icon-left>
          <ion-icon color="primary" name="home"></ion-icon>
          {{ api.trans('__.home') }}
        </button>
        <div *ngIf="canVisitors()">
          <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)" icon-left>
            <ion-icon color="primary" [name]="p.icon"></ion-icon>
            {{ api.trans(p.title) }}
          </button>
        </div>
        <button *ngIf="canPanic()" menuClose ion-item (click)="openPage({component:PanicLogsPage})" icon-left>
          <ion-icon color="primary" name="help-buoy"></ion-icon>
          {{ api.trans('literals.panic logs') }}
        </button>

        <button *ngIf="CanCorrespondence()" menuClose ion-item (click)="openPage({component:'CorrespondencesPage'})" icon-left>

          <ion-icon color="primary" name="cube"></ion-icon>

          {{ api.trans('literals.correspondences') }}
        </button>

        <button *ngIf="canAccounter()" menuClose ion-item (click)="openPage({component:SellerPage})" icon-left>
          <ion-icon color="primary" name="card"></ion-icon>
          {{ api.trans('__.Punto de Venta') }}
        </button>

        <button *ngIf="canZones()" menuClose ion-item (click)="openPage({component:ZonesAdminPage})" icon-left>
          <ion-icon color="primary" name="partly-sunny"></ion-icon>
          {{ api.trans('literals.zones') }}
        </button>

        <ion-item-divider color="light">
          {{ api.trans('literals.settings') }}
        </ion-item-divider>

        <button *ngIf="canAccounter()" menuClose ion-item (click)="openPage({component:'SettingsPage'})" icon-left>
          <ion-icon name="settings"></ion-icon>
          {{ api.trans('literals.settings') }}
        </button>

        <button menuClose ion-item (click)="logout()" icon-left>
          <ion-icon color="primary" name="log-out"></ion-icon>
          {{ api.trans('literals.logout') }}
        </button>

      </ion-list>
    </ion-content>
  </ion-menu>

  <!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
  <ion-nav [root]="rootPage" main #content swipeBackEnabled="false"></ion-nav>
</ion-split-pane>
<ion-footer *ngIf="api.Echo && !api.Echo.connector.socket.connected && rootPage=='DashPage'" class="no-printable">


  <ion-toolbar color="danger">
    <p ion-text color="light">{{'__.Error en la conexion con el servidor' | trans }}</p>
  </ion-toolbar>
</ion-footer>
