<ion-split-pane>

  <ion-menu [content]="content" [enabled]="api.user">
    <ion-header>
      <ion-toolbar color="dark">
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-list>
        <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)" icon-left>
            <ion-icon [name]="p.icon"></ion-icon>
            {{ api.trans(p.title) }}
        </button>
        <button *ngIf="canPanic()" menuClose ion-item (click)="openPage({component:PanicLogsPage})" icon-left>
            <ion-icon name="help-buoy"></ion-icon>
            {{ api.trans('__.Panic Logs') }}
        </button>
        <button *ngIf="canAccounter()" menuClose ion-item (click)="openPage({component:SellerPage})" icon-left>
            <ion-icon name="card"></ion-icon>
            {{ api.trans('__.Punto de Venta') }}
        </button>

        <button *ngIf="canZones()" menuClose ion-item (click)="openPage({component:ZonesAdminPage})" icon-left>
            <ion-icon name="partly-sunny"></ion-icon>
            {{ api.trans('literals.zones') }}
        </button>

        <button menuClose ion-item (click)="logout()" icon-left>
            <ion-icon name="log-out"></ion-icon>
            {{ api.trans('literals.logout') }}
        </button>
      </ion-list>
    </ion-content>
  </ion-menu>

  <!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
  <ion-nav [root]="rootPage" main #content swipeBackEnabled="false"></ion-nav>
</ion-split-pane>
