<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle icon-only>
      <ion-icon name="menu"></ion-icon>
    </button>  
    <ion-title>{{'literals.residences' | trans }}</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  <div text-center>
    <ion-spinner color="primary" *ngIf="loading"></ion-spinner>
  </div>
  <ion-refresher (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-searchbar [(ngModel)]="query" debounce="750" (ionInput)="filter()"></ion-searchbar>
  <ion-list [virtualScroll]="residences" approxItemHeight="90px" [virtualTrackBy]="trackBy">
    <button ion-item (click)="actions(res)" *virtualItem="let res">
      <h2 text-wrap>{{ res.name }}
        <span *ngIf="res.is_disabled" ion-text color="dark">({{'literals.disabled' | trans }})</span>
        <b text-right ion-text [color]="res.status==='solvent' ? 'secondary' : 'danger'"> {{ 'literals.'+ res.status | trans }}
        </b>
      </h2>
      <h3>
        <b>
          {{ 'literals.owner' | trans }}:
        </b>
        <span *ngIf="res.owner">{{ res.owner.name }}</span>
      </h3>
      <p text-justify>
        <span *ngFor="let user of res.users">
          {{user.name}},
        </span>
      </p>
      <small>{{ 'literals.' + res.type | trans }}</small>
    </button>
  </ion-list>
</ion-content>
