<ion-content>

  <div class="printable" *ngIf="setting.print_type !== 'pos'" id="toPrint">
    <div class="invoice-box" style="max-width: 800px;margin: auto;padding: 30px;border: 1px solid #eee;box-shadow: 0 0 10px rgba(0, 0, 0, .15);font-size: 16px;line-height: 24px;font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;color: #555;">
      <table cellpadding="0" cellspacing="0" style="width: 100%;line-height: inherit;text-align: left;">

        <tr class="top">
          <td colspan="4" style="padding: 4px;vertical-align: top;">
            <table style="width: 100%;line-height: inherit;text-align: left;">
              <tr>
                <td colspan="2" class="title" style="padding: 4px;vertical-align: top;padding-bottom: 10px;font-size: 45px;line-height: 45px;color: #333;">
                  <img [src]="api.url + 'img/logo.png'" style="max-width:100%; max-width:200px;">
                </td>
                <td style="padding: 4px;vertical-align: top;text-align: right;padding-bottom: 10px;width:100%">
                  <h4>{{'literals.invoice' | trans }} #: {{invoice.number}}</h4>

                  <br> {{ 'literals.date' | trans }}: {{invoice.date | amDateFormat:'LLL'}}
                  <br> {{'date.from'| trans }} {{invoice.created_at | amDateFormat:'LLL'}}
                  <br> {{'literals.seller' | trans }} {{ api.user.name }}
                </td>
              </tr>
            </table>
          </td>
        </tr>

        <tr class="information">
          <td colspan="4" style="padding: 4px;vertical-align: top;">
            <table style="width: 100%;line-height: inherit;text-align: left;">
              <tr>
                <td style="padding: 4px;vertical-align: top;padding-bottom: 10px;">
                  {{api.settings.name}}
                  <br> {{api.settings.document}}
                  <br> {{api.settings.address}}
                  <br> {{'literals.phone_number' | trans }} {{api.settings.phone}}

                </td>
                <td style="padding: 4px;vertical-align: top;padding-bottom: 10px;">
                </td>
                <td *ngIf="invoice.person" style="padding: 4px;vertical-align: top;text-align: right;padding-bottom: 10px;">
                  {{ invoice.person.name }}
                  <span *ngIf="invoice.person.residence">
                    <span *ngIf="invoice.person.residence">
                      <br>
                      <b>{{'literals.residence' | trans }}</b>
                      {{ invoice.person.residence.name }}
                    </span>
                  </span>
                  <br>
                  <span *ngIf="invoice.person.document">
                    {{'literals.document' | trans }}: {{ invoice.person.document }}
                  </span>

                  <span *ngIf="payments">
                    <h5>{{'literals.payments' |trans }}</h5>
                    <span *ngFor="let pay of payments">
                      <b>{{'literals.'+ pay.method | trans }}</b>
                      <span>{{ pay.amount | number:'1.1-1'}}</span>
                      <br>
                    </span>
                  </span>
                  <span *ngIf="!payments && invoice.receipt">
                    <br> {{'literals.payment' | trans }}: {{ ('literals.' + invoice.receipt.transaction ) | trans }}
                  </span>

                </td>
              </tr>
            </table>
          </td>
        </tr>

        <!-- <tr class="heading">
        <td style="padding: 4px;vertical-align: top;text-align: right;background: #eee;border-bottom: 1px solid #ddd;font-weight: bold;">
        </td>
        <td style="padding: 4px;vertical-align: top;text-align: right;background: #eee;border-bottom: 1px solid #ddd;font-weight: bold;">
        </td>
        <td style="padding: 4px;vertical-align: top;background: #eee;border-bottom: 1px solid #ddd;font-weight: bold;">
        </td>
      </tr> -->

        <!-- Heading Items -->
        <tr class="heading">
          <td style="text-align:center;padding: 4px;vertical-align: top;background: #eee;border-bottom: 1px solid #ddd;font-weight: bold;">
            {{'literals.concept' | trans }}
          </td>

          <td style="text-align:center;padding: 4px;vertical-align: top;background: #eee;border-bottom: 1px solid #ddd;font-weight: bold;">
            {{'literals.quantity' | trans }}
          </td>
          <td style="text-align:center; padding: 4px;vertical-align: top;background: #eee;border-bottom: 1px solid #ddd;font-weight: bold;">
            {{'literals.price' | trans }}
          </td>

          <td style="text-align:center;padding: 4px;vertical-align: top;background: #eee;border-bottom: 1px solid #ddd;font-weight: bold;">
            {{'literals.subtotal' | trans }}
          </td>
        </tr>

        <!-- Items -->
        <tr class="item last" *ngFor="let item of invoice.items">
          <td style="padding: 4px;vertical-align: top;border-bottom: none;">
            {{item.concept}}
          </td>
          <td style="padding: 4px;vertical-align: top;border-bottom: none;">
            {{item.quantity}}
          </td>

          <td style="padding: 4px;vertical-align: top;text-align: center;border-bottom: none;">
            {{item.amount | currency:'USD':true:'4.2-2' }}
          </td>

          <td style="padding: 4px;vertical-align: top;text-align: center;border-bottom: none;">
            {{(item.quantity * item.amount) | currency:'USD':true:'4.2-2' }}
          </td>
        </tr>

        <!-- Total -->
        <tr class="total">
          <td style="padding: 4px;vertical-align: top;"></td>
          <td style="padding: 4px;vertical-align: top;"></td>
          <td style="padding: 4px;vertical-align: top;text-align: center;border-top: 2px solid #eee;font-weight: bold;">
            Total:
          </td>
          <td style="padding: 4px;vertical-align: top; text-align: center;border-top: 2px solid #eee;font-weight: bold;">
            {{ total(invoice) | currency:'USD':true:'4.2-2' }}
          </td>
        </tr>
      </table>
      <p text-center *ngIf="invoice.note">
        <b>{{'literals.note' | trans }}</b>
        <span>{{invoice.note}}</span>
      </p>
      <br>
      <ion-grid class="print-only">
        <ion-row>
          <ion-col col-6 text-center>
            <div class="signature"></div>
            <span>
              {{'literals.signature' | trans }} {{'literals.customer' | trans }}
            </span>
          </ion-col>
          <ion-col col-6 text-center>
            <div class="signature"></div>
            <span>
              {{'literals.signature' | trans }} {{'literals.seller' | trans }}
            </span>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>


  <div *ngIf="setting.print_type === 'pos'" class="printable punto" id="toPrintMini">
    <br>
    <div text-center>
      <img [src]="api.url + 'img/logo.png'" style="max-height:60pt; max-width:60pt;">
    </div>
    <h3 text-center no-margin>
      {{api.settings.name}}
    </h3>
    <h6 text-center no-margin>
      NIT: {{api.settings.document}}
    </h6>
    <p text-center no-margin>
      {{api.settings.address}}
    </p>
    <p text-center no-margin>
      {{'literals.phone_number' | trans }}: {{api.settings.phone }}
    </p>
    <br>
    <p no-margin>
      <b>
        {{'literals.invoice' | trans }} # {{invoice.number }}
      </b>
    </p>
    <p no-margin>
      {{'literals.date' | trans }}: {{ invoice.created_at | amDateFormat:'DD MMMM YYYY - h:mm a'}}
    </p>
    <p no-margin>
      <b>
        {{'literals.seller' | trans }}:
      </b>
      <span>{{ api.user.name }}</span>
    </p>
    <span *ngIf="payments">
      <p *ngFor="let pay of payments">
        <b>{{'literals.'+ pay.method | trans }}</b>
        <span>{{ pay.amount | number:'1.1-1'}}</span>
      </p>
    </span>
    <span *ngIf="!payments && invoice.receipt">
      {{'literals.payment' | trans }}: {{ ('literals.' + invoice.receipt.transaction ) | trans }}
    </span>
    <br>
    <div class="separator"></div>
    <table style="width:100%">
      <thead>
        <tr text-center>
          <th>{{'literals.quantity' | trans }}</th>
          <th>{{'literals.item' | trans }}</th>
          <th>{{'literals.price' | trans }}</th>
          <th>{{'literals.total' | trans }}</th>
        </tr>
      </thead>
      <tbody text-center class="pos-items">
        <tr *ngFor="let item of invoice.items">
          <td>{{ item.quantity }}</td>
          <td style="width:50pt">{{item.concept}}</td>
          <td>{{item.amount | number: '1.2-2'}}</td>
          <td> {{(item.quantity * item.amount) | number:'1.2-2' }}</td>
        </tr>
      </tbody>
    </table>
    <div class="separator"></div>
    <br>
    <div class="separator"></div>
    <table style="width:100%">
      <tr>
        <th> Total:</th>
        <th> {{ invoice.total | number: '1.2-2'}} </th>
      </tr>
    </table>
    <br>
    <div>
      {{'literals.seller' | trans }}: {{ invoice.creator ? invoice.creator.name : api.user.name }}
    </div>
    <div *ngIf="invoice.person">
      {{'literals.customer' | trans }}: {{ invoice.person.name }}
      <span *ngIf="invoice.person.residence">
        <br> {{'literals.residence' | trans }}: {{ invoice.person.residence.name }}
      </span>
      <br> {{'literals.document' | trans }}: {{ invoice.person.document }}

      <span *ngIf="invoice.person.phone_number">
        <br> {{'literals.phone_number' | trans }}: {{invoice.person.phone_number}}
      </span>
    </div>
    <div *ngIf="!(invoice.person)">
      {{'literals.customer' | trans }}: _______________________________
      <br> {{'literals.document' | trans }}: ______________________________
      <span>
        <br> {{'literals.phone_number' | trans }}: ___________________
      </span>
    </div>
    <br>
    <p text-center *ngIf="invoice.note" text-wrap wrap>
      <b>{{'literals.note' | trans }}</b>
      <span>{{invoice.note}}</span>
    </p>
    <br>
    <br>
    <div>
      <div text-center>
        <div class="signature"></div>
        <span>
          {{'literals.signature' | trans }} {{'literals.customer' | trans }}
        </span>
      </div>
      <br>
      <br>
      <br>
      <div text-center>
        <div class="signature"></div>
        <span>
          {{'literals.signature' | trans }} {{'literals.seller' | trans }}
        </span>
      </div>
    </div>
  </div>

</ion-content>
