<ion-header>

  <ion-navbar>
    <ion-title>{{'literals.search' | trans }}</ion-title>
    <ion-buttons end>
      <button ion-button (click)="cancel()" icon-only>
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content>
  <div text-center>
    <ion-spinner *ngIf="loading || !ready"></ion-spinner>
  </div>

  <ion-searchbar debounce="700" (ionInput)="search($event)" [(ngModel)]="query"></ion-searchbar>

  <ion-list *ngIf="findFor.users && results.users && results.users.data">


    <ion-list-header>{{'literals.users'|trans}}</ion-list-header>
    <button ion-item (click)="select(person,'user')" *ngFor="let person of results.users.data">
      <ion-avatar item-left *ngIf="person.image_url">
        <img [src]="person.image_url" alt="image person" onerror="this.style.display = 'none'">
      </ion-avatar>
      <h2>
        {{person.name}}
        <span>({{'literals.'+ person.relationship | trans}})</span>
      </h2>
      <p>{{person.document}}</p>
      <p *ngIf="person.residence">{{person.residence.name}}
        <div *ngIf="(api.roles?.collection['SuperAdmin'] || api.roles?.collection['Manage invoices'] || api.roles?.collection['Accounter'])">
          <small ion-text [color]="person.residence.status == 'solvent'? 'secondary': 'danger'">({{ 'literals.' + person.residence.status | trans }})</small>
          <small color="danger" *ngIf="person.residence.is_disabled">- {{ 'literals.disabled' | trans }}</small>
        </div>
      </p>
    </button>
  </ion-list>

  <ion-list *ngIf="findFor.visitors && results.visitors && results.visitors.data">
    <ion-list-header>{{'literals.visitors'|trans}}</ion-list-header>
    <button ion-item (click)="select(person,'visitor')" *ngFor="let person of results.visitors.data">
      <ion-avatar item-left *ngIf="person.image_url">
        <img [src]="person.image_url" alt="image person" onerror="this.style.display = 'none'">
      </ion-avatar>
      <h2>
        {{person.name}}
      </h2>
      <p>{{person.document}}</p>
      <p *ngIf="person.residence">{{person.residence.name}}
        <div *ngIf="(api.roles?.collection['SuperAdmin'] || api.roles?.collection['Manage invoices'] || api.roles?.collection['Accounter'])">
          <small ion-text [color]="person.residence.status == 'solvent'? 'secondary': 'danger'">({{ 'literals.' + person.residence.status | trans }})</small>
          <small color="danger" *ngIf="person.residence.is_disabled">- {{ 'literals.disabled' | trans }}</small>
        </div>
      </p>
        <button ion-button icon-only clear color="primary" (click)="visitorModal(person);$event.stopPropagation()" item-right>
        <ion-icon name="create"></ion-icon>
      </button>
    </button>
  </ion-list>

  <ion-list *ngIf="findFor.workers && results.workers && results.workers.data">

    <ion-list-header>{{'literals.workers'|trans}}</ion-list-header>
    <button ion-item (click)="select(person,'worker')" *ngFor="let person of results.workers.data">
      <ion-avatar item-left *ngIf="person.image_url">
        <img [src]="person.image_url" alt="image person" onerror="this.style.display = 'none'">
      </ion-avatar>
      <h2>
        {{person.name}}
      </h2>
      <p>{{person.document}}</p>
      <p *ngIf="person.residence">{{person.residence.name}}
        <div *ngIf="(api.roles?.collection['SuperAdmin'] || api.roles?.collection['Manage invoices'] || api.roles?.collection['Accounter'])">
          <small ion-text [color]="person.residence.status == 'solvent'? 'secondary': 'danger'">({{ 'literals.' + person.residence.status | trans }})</small>
          <small color="danger" *ngIf="person.residence.is_disabled">- {{ 'literals.disabled' | trans }}</small>
        </div>
      </p>
    </button>


  </ion-list>

  <ion-fab bottom right #fab>
    <button ion-fab>
      <ion-icon name="add"></ion-icon>
    </button>
    <ion-fab-list side="top" style="right:5px">
      <button ion-button (click)="visitorModal(); fab.close()" icon-left>
        <ion-icon name="person-add"></ion-icon>
        {{'crud.add' | trans }} {{ 'literals.visitor' | trans }}
      </button>
    </ion-fab-list>
  </ion-fab>

</ion-content>
