<ion-header>

  <ion-navbar color="primary">
    <button ion-button icon-only menuToggle>
      <ion-icon name="keypad"></ion-icon>
    </button>
    <ion-title>
      Dashboard
    </ion-title>
  </ion-navbar>

</ion-header>


<ion-content no-margin no-padding>
  <div *ngIf="sliders && sliders.length > 0">
    <ion-slides style="height:200px" pager paginationType="bullets" autoplay="3000" loop="true">
      <ion-slide *ngFor="let slider of sliders">
        <img [src]="slider.image.url" [alt]="slider.name" style="height:100%; width:100%">

        <h2 style="position:absolute; top:20%; left:12%;" [style.color]="slider.color? slider.color : 'white'">{{slider.name}}</h2>
        <p style="position:absolute; top:35%; left:12%;" [style.color]="slider.color? slider.color : 'white'">{{slider.text}}</p>

      </ion-slide>
    </ion-slides>
  </div>
  <ion-grid no-margin>
    <ion-row align-items-center justify-content-center>

      <ion-col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3>
        <div tappable class="dash-card" padding no-margin>
          <ion-icon class="dash-icon" large color="primary" name="home"></ion-icon>
          <h1 class="dash-title">Home</h1>
        </div>
      </ion-col>

      <ion-col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 *ngIf="canVisitors()">
        <div tappable class="dash-card" padding no-margin (click)="openPage(VistorsPage)">
          <ion-icon class="dash-icon" large color="primary" name="contacts"></ion-icon>
          <h1 class="dash-title">{{api.trans('literals.visitors')}}</h1>
        </div>
      </ion-col>

      <ion-col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 *ngIf="canVisitors()">
        <div tappable class="dash-card" padding no-margin (click)="openPage(VisitsPage)">
          <ion-icon class="dash-icon" large color="primary" name="list"></ion-icon>
          <h1 class="dash-title">{{api.trans('literals.visits')}}</h1>
        </div>
      </ion-col>

      <ion-col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 *ngIf="canParking()">
        <div tappable class="dash-card" padding no-margin (click)="openPage(ParkingsPage)">
          <ion-icon class="dash-icon" large color="primary" name="car"></ion-icon>
          <h1 class="dash-title">{{api.trans('literals.parkings')}}</h1>
        </div>
      </ion-col>

      <ion-col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 *ngIf="canVisitors()">
        <div tappable class="dash-card" padding no-margin (click)="openPage('ResidencesPage')">
          <ion-icon class="dash-icon" large color="primary" name="home"></ion-icon>
          <h1 class="dash-title">{{api.trans('literals.residences')}}</h1>
        </div>
      </ion-col>

      <ion-col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 *ngIf="CanCorrespondence()">
        <div tappable class="dash-card" padding no-margin (click)="openPage('CorrespondencesPage')">
          <ion-icon class="dash-icon" large color="primary" name="cube"></ion-icon>
          <h1 class="dash-title">{{api.trans('literals.correspondences')}}</h1>
        </div>
      </ion-col>

      <ion-col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 *ngIf="canPanic()">
        <div tappable class="dash-card" padding no-margin (click)="openPage(PanicLogsPage)">
          <ion-icon class="dash-icon" large color="primary" name="help-buoy"></ion-icon>
          <h1 class="dash-title">{{api.trans('literals.panic logs')}}</h1>
        </div>
      </ion-col>

      <ion-col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 *ngIf="canAccounter()">
        <div tappable class="dash-card" padding no-margin (click)="openPage(SellerPage)">
          <ion-icon class="dash-icon" large color="primary" name="card"></ion-icon>
          <h1 class="dash-title"> {{ api.trans('__.Punto de Venta') }}</h1>
        </div>
      </ion-col>

      <ion-col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 *ngIf="canZones()">
        <div tappable class="dash-card" padding no-margin (click)="openPage(ZonesAdminPage)">
          <ion-icon class="dash-icon" large color="primary" name="partly-sunny"></ion-icon>
          <h1 class="dash-title"> {{ api.trans('literals.zones') }}</h1>
        </div>
      </ion-col>


      <ion-col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 *ngIf="canAccounter()">
        <div tappable class="dash-card" padding no-margin (click)="openPage('SettingsPage')">
          <ion-icon class="dash-icon" large color="primary" name="settings"></ion-icon>
          <h1 class="dash-title"> {{ api.trans('literals.settings') }}</h1>
        </div>
      </ion-col>

    </ion-row>
  </ion-grid>
</ion-content>