<ion-header>

  <ion-navbar color="primary">
    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Dashboard
    </ion-title>
    <!-- <ion-buttons end>
      <button ion-button icon-only (click)="actions($event)">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons> -->
  </ion-navbar>

</ion-header>


<ion-content no-margin no-padding>

  <div *ngIf="sliders && sliders.length > 0">
    <ion-slides style="height:200px" pager paginationType="bullets" autoplay="3000" loop="true">
      <ion-slide *ngFor="let slider of sliders" style="align-items:flex-start">
        <img [src]="slider.image.url" [alt]="slider.name" style="height:100%; width:100%;vertical">

        <h2 style="position:absolute;top:20%;left:12%;" [style.color]="slider.color? slider.color : 'white'">{{slider.name}}</h2>
        <p style="position:absolute; top:35%; left:12%;" [style.color]="slider.color? slider.color : 'white'">{{slider.text}}</p>

      </ion-slide>
    </ion-slides>
  </div>

  <ion-grid no-margin>
    <ion-row align-items-center justify-content-center>

      <ion-col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 *ngIf="api.permissions.visitors">
        <div tappable class="dash-card" padding no-margin (click)="openPage('LobbyPage')">
          <ion-icon class="dash-icon" large color="primary" name="ios-key"></ion-icon>
          <h1 class="dash-title">{{api.trans('literals.lobby')}}</h1>
        </div>
      </ion-col>

      <ion-col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 *ngIf="api.permissions.tickets || api.permissions.accounter || api.permissions.zones">
        <div tappable class="dash-card" padding no-margin (click)="openPage('PendingsPage')">
          <ion-icon class="dash-icon" large color="primary" name="clock"></ion-icon>
          <h1 class="dash-title">{{api.trans('literals.pendings')}}</h1>
        </div>
      </ion-col>


      <!-- <ion-col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 *ngIf="api.permissions.visitors">
        <div tappable class="dash-card" padding no-margin (click)="openPage('HomePage')">
          <ion-icon class="dash-icon" large color="primary" name="contacts"></ion-icon>
          <h1 class="dash-title">{{api.trans('literals.visitors')}}</h1>
        </div>
      </ion-col>

      <ion-col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 *ngIf="api.permissions.visitors">
        <div tappable class="dash-card" padding no-margin (click)="openPage('ListPage')">
          <ion-icon class="dash-icon" large color="primary" name="list"></ion-icon>
          <h1 class="dash-title">{{api.trans('literals.visits')}}</h1>
        </div>
      </ion-col> -->

      <ion-col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 *ngIf="api.permissions.vehicles">
        <div tappable class="dash-card" padding no-margin (click)="openPage('VehiclesPage')">
          <ion-icon class="dash-icon" large color="primary" name="ios-car"></ion-icon>

          <h1 class="dash-title">{{api.trans('literals.vehicles')}}</h1>
        </div>
      </ion-col>

      <ion-col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 *ngIf="api.permissions.parkings">
        <div tappable class="dash-card" padding no-margin (click)="openPage('ParkingsPage')">
          <ion-icon class="dash-icon" large color="primary" style="font-family:Georgia, 'Times New Roman', Times, serif; font-weight:800">
            P
          </ion-icon>
          <h1 class="dash-title">{{api.trans('literals.parkings')}}</h1>
        </div>
      </ion-col>

      <ion-col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 *ngIf="api.permissions.visitors">
        <div tappable class="dash-card" padding no-margin (click)="openPage('ResidencesPage')">
          <ion-icon class="dash-icon" large color="primary" name="home"></ion-icon>
          <h1 class="dash-title">{{api.trans('literals.residences')}}</h1>
        </div>
      </ion-col>

      <ion-col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 *ngIf="api.permissions.correspondences">
        <div tappable class="dash-card" padding no-margin (click)="openPage('CorrespondencesPage')">
          <ion-icon class="dash-icon" large color="primary" name="mail"></ion-icon>
          <h1 class="dash-title">{{api.trans('literals.correspondences')}}</h1>
        </div>
      </ion-col>

      <ion-col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 *ngIf="api.permissions.panics">
        <div tappable class="dash-card" padding no-margin (click)="openPage('PanicLogsPage')">
          <ion-icon class="dash-icon" large color="primary" name="help-buoy"></ion-icon>
          <h1 class="dash-title">{{api.trans('literals.panic_logs')}}</h1>
        </div>
      </ion-col>


      <ion-col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 *ngIf="api.permissions.tickets">
        <div tappable class="dash-card" padding no-margin (click)="openPage('TicketsPage')">
          <ion-icon class="dash-icon fa fa-ticket" large color="primary"></ion-icon>
          <h1 class="dash-title">{{api.trans('literals.tickets')}}</h1>
        </div>
      </ion-col>

      <ion-col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 *ngIf="api.permissions.accounter">
        <div tappable class="dash-card" padding no-margin (click)="openPage('SellerPage')">
          <ion-icon class="dash-icon" large color="primary" name="card"></ion-icon>
          <h1 class="dash-title"> {{ api.trans('__.Punto de Venta') }}</h1>
        </div>
      </ion-col>

      <ion-col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 *ngIf="api.permissions.zones">
        <div tappable class="dash-card" padding no-margin (click)="openPage('ZonesAdminPage')">
          <ion-icon class="dash-icon" large color="primary" name="partly-sunny"></ion-icon>
          <h1 class="dash-title"> {{ api.trans('literals.zones') }}</h1>
        </div>
      </ion-col>


      <ion-col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 *ngIf="api.permissions.authorizations">
        <div tappable class="dash-card" padding no-margin (click)="openPage('AuthorizationsPage')">
          <ion-icon class="dash-icon" large color="primary" name="ios-paper"></ion-icon>
          <h1 class="dash-title"> {{ api.trans('literals.authorizations') }}</h1>
        </div>
      </ion-col>

      <ion-col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 *ngIf="api.permissions.meetings">
        <div tappable class="dash-card" padding no-margin (click)="openPage('MeetingsPage')">
          <ion-icon class="dash-icon" large color="primary" name="people"></ion-icon>
          <h1 class="dash-title"> {{ api.trans('literals.meetings') }}</h1>
        </div>
      </ion-col>


      <ion-col col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 *ngIf="api.permissions.accounter">
        <div tappable class="dash-card" padding no-margin (click)="openPage('SettingsPage')">
          <ion-icon class="dash-icon" large color="primary" name="settings"></ion-icon>
          <h1 class="dash-title"> {{ api.trans('literals.settings') }}</h1>
        </div>
      </ion-col>



    </ion-row>
  </ion-grid>

</ion-content>
