page-dash {
  ion-content {
    background: #e2e1e0 !important;
  }
  .dash-card {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    background: white;
    text-align: center;
    vertical-align: middle;
    box-shadow: 1
  }
  .dash-icon {
    font-size: 32px;
  }
  .dash-title {
    font-size: 18px;
  }
}
