<ion-header>
  <ion-navbar color="primary">
    <ion-title>{{'literals.meeting' | trans }} #{{ meeting.id}}</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  <ion-refresher (ionRefresh)="refresh($event)">

    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-grid no-padding no-margin>
    <ion-row wrap>
      <ion-col col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 col-12>
        <ion-card>
          <div text-center class="logo-meeting">
            <img [src]="api.url + '/img/icon.png'">
          </div>

          <ion-list-header text-center>
            <h2 ion-text color="primary"> {{ meeting.subject }} </h2>
          </ion-list-header>
          <ion-card-content>
            <p text-justify *ngIf="meeting.description">{{meeting.description}}</p>
            <h3 text-right text-capitalize>
              <b>{{'literals.start' | trans}}:</b>
              {{ meeting.start | amTimeAgo }}
            </h3>
            <h3 text-right text-capitalize *ngIf="meeting.end">
              <b>{{'literals.end' | trans}}:</b>
              {{meeting.end | amTimeAgo }}
            </h3>
          </ion-card-content>
          <ion-list>
            <ion-item-divider *ngIf="!addingItemChecklist">
              {{'literals.checklist' | trans }}
              <button ion-button clear icon-only item-right (click)="addingItemChecklist = true">
                <ion-icon name="add-circle"></ion-icon>
              </button>
            </ion-item-divider>
            <ion-item-divider *ngIf="addingItemChecklist">
              <input (keyup.enter)="text_check.length > 0 &&  addCheckList()" [placeholder]="('crud.add' | trans) + ' '  +  ('literals.text' | trans) "
                autofocus class="in-header-input" [(ngModel)]="text_check">
              <button [disabled]="text_check.length === 0" ion-button icon-only item-right clear (click)="addCheckList()">
                <ion-icon name="checkmark"></ion-icon>
              </button>
            </ion-item-divider>
            <ion-list>
              <ion-item-sliding *ngFor="let item of meeting.checklist; let i = index">
                <button (click)="toggleCheck(item,i)" ion-item details-none>
                  <p text-wrap wrap> {{ item.text }} </p>
                  <!-- <small>{{ item.date | amFromUtc | amTimeAgo }}</small> -->
                  <ion-icon item-right [name]="item.checked ? 'checkbox' : 'square-outline'" [color]="item.checked ? 'secondary': 'dark' "></ion-icon>
                </button>
                <ion-item-options side="right">
                  <button ion.button color="danger" (click)="deleteCheckItem(i)">
                    <ion-icon name="trash"></ion-icon>
                  </button>
                </ion-item-options>
              </ion-item-sliding>
            </ion-list>
          </ion-list>
        </ion-card>
      </ion-col>


      <ion-col col-xs-12 col-sm-12 col-md-5 col-lg-5 col-xl-5 col-12>
        <ion-card>
          <ion-list-header color="light" *ngIf="!addingItemPost">
            <span ion-text color="primary">
              {{'literals.meeting_post' | trans }}
            </span>
            <button ion-button icon-only item-right clear (click)="addingItemPost = true">
              <ion-icon name="add-circle"></ion-icon>
            </button>
          </ion-list-header>
          <ion-list-header *ngIf="addingItemPost">
            <input (keyup.enter)="text.length > 0 &&  addPost()" [placeholder]="('crud.add' | trans) + ' '  +  ('literals.text' | trans) "
              autofocus class="in-header-input" [(ngModel)]="text">
            <button [disabled]="text.length === 0" ion-button icon-only item-right clear (click)="addPost()">
              <ion-icon name="checkmark"></ion-icon>
            </button>
          </ion-list-header>
          <ion-list>
            <ion-item-sliding *ngFor="let item of meeting.posts | reverse; let i = index">
              <ion-item>
                <p text-wrap wrap> {{ item.text }} </p>

                <span item-right>{{ item.date | amFromUtc | amTimeAgo }}</span>
              </ion-item>
              <ion-item-options side="right">
                <button ion-button color="danger" (click)="deletePost(i)">
                  <ion-icon name="trash"></ion-icon>
                </button>
              </ion-item-options>
            </ion-item-sliding>

          </ion-list>
        </ion-card>
      </ion-col>

      <ion-col col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 col-12>
        <ion-card>
          <ion-list-header color="light">
            <span color="primary" ion-text text-capitalize>
              {{'literals.attenders' | trans }}
            </span>
            <ion-badge item-right color="favorite">{{ attenders.length }}</ion-badge>
          </ion-list-header>
          <ion-list>
            <ion-item-sliding *ngFor="let att of attenders; let i = index">
              <ion-item>
                <h2>{{att.person?.name}}</h2>
                <h3>{{ att.residence?.name }}</h3>
                <ion-note>{{ att.person?.document }}</ion-note>
                <ion-avatar item-right>
                  <img [src]="att.person.image_url" alt="">
                </ion-avatar>
              </ion-item>
              <ion-item-options side="right">
                <button ion-button (click)="removeAttender(att,i)" color="danger">
                  <ion-icon name="trash"></ion-icon>
                  {{'crud.delete' | trans }}
                </button>
              </ion-item-options>
            </ion-item-sliding>
          </ion-list>
        </ion-card>

      </ion-col>

    </ion-row>
  </ion-grid>

  <ion-fab bottom right #fab>
    <button ion-fab color="favorite">
      <ion-icon name="person-add"></ion-icon>
    </button>

    <ion-fab-list side="top">

      <div class="fab-label-button">
        <button ion-fab mini small (click)="selectPerson();fab.close()">
          <ion-icon name="ios-person"></ion-icon>
        </button>
        <div class="label">{{'crud.add' | trans }} {{'literals.person' | trans }}</div>
      </div>

      <div class="fab-label-button">
        <button ion-fab mini small (click)="addGuest();fab.close()">
          <ion-icon name="md-person"></ion-icon>
        </button>
        <div class="label">{{'crud.add' | trans }} {{'literals.guest' | trans }}</div>
      </div>

    </ion-fab-list>
  </ion-fab>
</ion-content>

<ion-footer>
  <ion-toolbar [color]="hasQuorum? 'secondary' :'light'">
    <ion-grid>
      <ion-row>
        <ion-col text-capitalize text-left justify-content-center>
          <b>
            {{'literals.quorum' | trans }}:
          </b>
          <ion-icon pull-right style="font-size:1.6rem" [color]="hasQuorum ? 'secondary' : 'danger' " [name]="hasQuorum ?  'checkmark-circle-outline' : 'remove-circle' "></ion-icon>
        </ion-col>
        <ion-col text-right>
          {{ this.inMeeting }} / {{ this.residences?.length }}
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>
