<ion-header>
  <ion-navbar color="secondary">
    <ion-title>{{'literals.residences' | trans}}</ion-title>
    <ion-buttons end>
      <button ion-button clear icon-only (click)="cancel()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-toolbar>
    <ion-searchbar (ionInput)="search()" [(ngModel)]="query"></ion-searchbar>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div text-center>
    <ion-spinner *ngIf="loading || !ready"></ion-spinner>
  </div>
  <ion-list inset no-lines>
    <button ion-item (click)="select(residence)" *ngFor="let residence of residences">
      <!-- <ion-thumbnail item-left>
        <img [src]="residence.image_url" *ngIf="residence.image_url">
      </ion-thumbnail> -->
      <h2>{{residence.name}}</h2>
      <h3>{{residence.owner?.name}}</h3>
      <h4>{{'literals.'+ residence.type | trans }}</h4>
      <p [ngClass]="residence.status">{{'literals.'+residence.status | trans }}
        <span *ngIf="residence.is_disabled">{{'literals.disabled' | trans }}</span>
      </p>
    </button>
  </ion-list>
</ion-content>
