<ion-header>
  <ion-navbar color="secondary">
    <ion-title>{{'literals.residences' | trans}}</ion-title>
    <ion-buttons end>
      <button ion-button clear icon-only (click)="cancel()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-toolbar>
    <ion-searchbar (ionInput)="search()" [(ngModel)]="query"></ion-searchbar>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div text-center>
    <ion-spinner *ngIf="loading || !ready"></ion-spinner>
  </div>
  <ion-list inset no-lines *ngIf="!multiple">
    <button ion-item (click)="select(residence)" *ngFor="let residence of residences">
      <!-- <ion-thumbnail item-left>
        <img [src]="residence.image_url" *ngIf="residence.image_url">
      </ion-thumbnail> -->
      <h2>{{residence.name}}</h2>
      <h3>{{residence.owner?.name}}</h3>
      <h4>{{'literals.'+ residence.type | trans }}</h4>
      <p *ngIf="(api.roles?.collection['SuperAdmin'] || api.roles?.collection['Manage invoices'] || api.roles?.collection['Accounter'])"
        [ngClass]="residence.status">{{'literals.'+residence.status | trans }}
        <span *ngIf="residence.is_disabled">{{'literals.disabled' | trans }}</span>
      </p>
    </button>
  </ion-list>

  <ion-list inset no-lines *ngIf="multiple">
    <ion-list-header ion-text color="primary">
      {{'literals.residences' | trans}}
      <button ion-button icon-only small item-right clear (click)="selectAll('user')">
        <ion-icon name="checkbox-outline"></ion-icon>
      </button>
      <button ion-button icon-only small item-right clear (click)="deselectAll('user')">
        <ion-icon name="square-outline"></ion-icon>
      </button>
    </ion-list-header>
    <button ion-item (click)="select(residence)" *ngFor="let residence of residences">
      <!-- <ion-avatar item-left>
        <img [src]="residence.image_url" alt="image person" onerror="this.style.display = 'none'">
      </ion-avatar> -->
      <ion-label>
        {{residence.name}} - {{residence.owner?.name}}
        <small>({{'literals.'+ residence.type | trans }})</small>
      </ion-label>
      <ion-icon item-right *ngIf="multiple" [name]="residence._selected ? 'checkbox-outline' : 'square-outline'"></ion-icon>
    </button>

  </ion-list>
  <ion-fab bottom right *ngIf="multiple">
    <button ion-fab (click)="save()">
      <ion-icon class="fa fa-save"></ion-icon>
    </button>
  </ion-fab>
</ion-content>
