<ion-header>
  <ion-navbar color="dark">
    <ion-title>{{'literals.visit' | trans }} # {{visit.id}}</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>


  <ion-card>
    <ion-card-content>
      <ion-list>
        <div *ngIf="!(visit.visitors &&  visit.visitors.length > 1)">
          <div text-center>
            <img *ngIf="visit.visitor" [src]="visit.visitor.image_url" alt="" style="height:100px;width:100px;border-radius:50%; margin: 0 auto;">
          </div>
          <ion-item>
            <ion-icon name="person"></ion-icon>
            <b>{{'literals.visitor' | trans }}</b>
            <span *ngIf="visit.visitor" item-right>{{visit.visitor.name}}</span>
            <span *ngIf="!visit.visitor" item-right>{{'literals.unkown'| trans }}</span>
          </ion-item>
        </div>

        <div *ngIf="visit.visitors &&  visit.visitors.length > 1">
          <ion-list-header>{{'literals.visitors' | trans}}</ion-list-header>
          <ion-item *ngFor="let person of visit.visitors">
            <ion-avatar item-left>
              <img [src]="person.image_url" alt="">
            </ion-avatar>
            <ion-label>
              <span>{{person.name}}</span>
            </ion-label>

            <ion-select [(ngModel)]="person.pivot.status" *ngIf="person.pivot">
              <ion-option [disabled]="person.pivot.status == 'approved'" value="approved">{{'literals.approved' | trans }}</ion-option>
              <ion-option [disabled]="person.pivot.status == 'rejected'" value="rejected">{{'literals.rejected' | trans }}</ion-option>
              <ion-option [disabled]="person.pivot.status == 'waiting for confirmation'" value="waiting for confirmation">{{'literals.waiting for confirmation' | trans }}</ion-option>
            </ion-select>
          </ion-item>
        </div>
      </ion-list>
    </ion-card-content>
  </ion-card>


  <ion-card *ngIf="visit.user">
    <ion-card-header>
      <ion-card-title>{{'literals.user' | trans }}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <div>
        <div text-center>
          <img [src]="visit.user.image_url" alt="" style="height:100px;width:100px;border-radius:50%; margin: 0 auto;">
        </div>
        <ion-item>
          <ion-icon name="person"></ion-icon>
          <span item-right>{{visit.user.name}}</span>
        </ion-item>
      </div>

    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="api.residences_collection[visit.residence_id]">
    <ion-card-header>
      <ion-card-title>{{'literals.sidence' | trans }}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <p text-center>
        {{ api.residences_collection[visit.residence_id].name }}
      </p>

    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="visit.note">
    <ion-card-header>
      <ion-card-title>{{'literals.notes' | trans }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>{{visit.note}}</p>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="visit.vehicle">
    <ion-card-content>
      <ion-list>
        <ion-list-header>
          {{'literals.vehicle' | trans }}
        </ion-list-header>
        <ion-item>
          <ion-avatar item-left>
            <img [src]="visit.vehicle.image_url" alt="">
          </ion-avatar>
          <span>{{visit.vehicle.name}}</span>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="visit.parking">
    <ion-card-content>
      <ion-list>
        <ion-list-header>
          {{'literals.parking' | trans }}
        </ion-list-header>
        <ion-item>
          <span>{{visit.parking.name}}</span>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

</ion-content>

<ion-footer>
  <ion-grid>
    <ion-row>
      <ion-col>
        <button *ngIf="done" ion-button full color="secondary" (click)="done()">
          {{'__.marcar como listo' | trans }}
        </button>
      </ion-col>
      <ion-col>
        <button *ngIf="done" ion-button full (click)="dismiss()">

          {{'crud.cancel' | trans }}
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
