<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title text-capitalize>{{'__.admin' | trans }} {{ 'literals.zones' | trans }}</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  <ion-refresher (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list *ngIf="!zone">
    <button ion-item *ngFor="let zone of zones" (click)="selectZone(zone)">
      <ion-thumbnail item-left>
        <img [src]="zone.image_url" [alt]="zone.name">
      </ion-thumbnail>
      <h2>
        {{zone.name}}
      </h2>
      <h3>
        {{zone.description}}
      </h3>
    </button>
  </ion-list>
  <div *ngIf="zone">
    <button ion-button clear (click)="deselect()" icon-left>
      <ion-icon name="arrow-back"></ion-icon>
      {{'literals.back' | trans }}
    </button>

    <ion-card padding>
      <ion-item>
        <ion-label floating>{{'literals.name' | trans }} </ion-label>
        <ion-input [(ngModel)]="zone.name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>{{'literals.description' | trans }} </ion-label>
        <ion-textarea [(ngModel)]="zone.description"></ion-textarea>
      </ion-item>
      <ion-item>
        <ion-label floating>{{'literals.price' | trans }} </ion-label>
        <ion-input type="number" step="0.001" [(ngModel)]="zone.price"></ion-input>
      </ion-item>
      <button ion-button clear full (click)="save()">
        {{'crud.save' | trans }}
      </button>
    </ion-card>

    <ion-card padding *ngIf="zone.reservations && zone.reservations.data">
      <ion-card-title>{{'literals.reservations' | trans }}</ion-card-title>
      <ion-card-content>
        <ion-list>
          <button ion-item (click)="actions(reserv)" *ngFor="let reserv of zone.reservations.data">
            <h2 *ngIf="reserv.user">
              {{reserv.user.name }}
            </h2>

            <h3>
              <b>{{'literals.status' | trans }}:</b>
              <span ion-text [color]="reserv.status == 'approved'? 'secondary': reserv.status == 'rejected' ? 'danger': ''">
                {{ 'literals.' + reserv.status | trans }}
              </span>
            </h3>
            <h3>
              {{ reserv.total | currency:'USD':true:'1.2-2' }}
            </h3>
            <p>
              <b>{{'literals.quotas' | trans }}:</b>
              <span>
                {{ reserv.quotas }}
              </span>
            </p>
            <p text-wrap *ngIf="reserv.note">
              <b>{{'literals.notes' | trans }}</b>
              {{reserv.note}}
            </p>
            <p>
              {{reserv.start | amCalendar }}
            </p>
          </button>
        </ion-list>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
