<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle icon-only>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ 'literals.vehicles' |trans }}</ion-title>
  </ion-navbar>
  <ion-toolbar>
    <ion-searchbar [(ngModel)]="query" [debounce]="700" (ionInput)="filter()">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>


<ion-content>
  <input type="file" name="filer" accept="image/*" (change)="readFile($event)" id="input-file-vehicle" style="display:none;">
  <ion-list [virtualScroll]="vehicles">
    <ion-item *virtualItem="let vehicle" (click)="actions(vehicle)">
      <ion-thumbnail item-left>
        <img *ngIf="vehicle.image_url" [src]="vehicle.image_url">
      </ion-thumbnail>
      <h3>
        {{vehicle.name}}
      </h3>
      <h4 *ngIf="vehicle.residence">
        <b>{{'literals.residence' | trans }}:</b> {{vehicle.residence.name}}
      </h4>
      <h4 *ngIf="vehicle.owner">
        <b>{{'literals.owner' | trans }}:</b> {{vehicle.owner.name}}
      </h4>
      <h4 *ngIf="vehicle.visitor">
        <b>{{'literals.visitor' | trans }}:</b> {{vehicle.visitor.name}}
      </h4>
    </ion-item>
  </ion-list>
    <ion-fab bottom right>
      <button ion-fab color="primary" (click)="addQuickVehicle()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-fab>
</ion-content>
