<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle icon-only>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{'literals.correspondences' | trans}}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="changeOrder()">
        <ion-icon [name]="order_by != 'date' ? 'calendar' : 'list'"></ion-icon>
      </button>

      <button ion-button icon-only (click)="filterActions()">
        <ion-icon name="more"></ion-icon>
      </button>

    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="container">
  <ion-searchbar [(ngModel)]="query" (ionInput)="filter()" [debounce]="750"></ion-searchbar>
  <ion-refresher (ionRefresh)="getCorrespondences($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div *ngIf="filtered && order_by == 'status'">
    <ion-list>
      <button ion-item *ngFor="let corres of filtered" (click)="actions(corres)">
        <h2 text-left>
          {{corres.item}}
          <span *ngIf="corres.quantity > 1"> ({{corres.quantity}})</span>
        </h2>

        <h3>
          <b>{{'literals.status' | trans }}</b>
          <span ion-text [color]="corres.status == 'delivered' ? 'secondary' :''">{{'literals.'+ corres.status | trans }}</span>
        </h3>
        <p *ngIf="corres.user">
          <b> {{'literals.user' | trans }}:</b>
          {{corres.user.name}}
        </p>

        <p *ngIf="corres.residence">
          <b> {{'literals.residence' | trans }}:</b>
          {{corres.residence.name}}
        </p>

        <p *ngIf="corres.receptor">
          <b>{{'literals.receptor' | trans }}</b>
          {{corres.receptor.name}}
        </p>

        <p text-right *ngIf="corres.delivered_at">
          <b>{{'literals.delivered at' | trans }}</b>
          {{ corres.delivered_at | amCalendar }}
        </p>
        <p text-right>
          {{ corres.created_at | amCalendar }}
        </p>
      </button>
    </ion-list>
  </div>

  <div *ngIf="filtered && order_by=='date'">
    <div *ngFor="let group of groups | keys">
      <div *ngIf="group.value.length > 0">
        <ion-card-header color="primary">
          {{ translations[group.key] }}
        </ion-card-header>
        <ion-card>
          <ion-list>
            <button ion-item class="ticket-item" (click)="actions(corres)" [ngClass]="corres.status" *ngFor="let corres of group.value">
              <span item-left class="indicator"></span>
              <h2 text-wrap>
                {{corres.item}}
                <span *ngIf="corres.quantity > 1"> ({{corres.quantity}})</span>
              </h2>
              <h3 *ngIf="corres.user">
                {{ corres.user.name}}
                <span *ngIf="corres.residence"> - {{ corres.residence.name }} </span>
              </h3>
              <p *ngIf="corres.receptor">
                <b>{{'literals.receptor' | trans }}:</b>
                {{corres.receptor.name}}
              </p>
              <small>
                {{ corres.created_at | amDateFormat:'LLL' }}
              </small>
              <small text-left text-wrap *ngIf="corres.delivered_at">
                <br>
                <b>{{'literals.delivered at' | trans }}</b>
                {{ corres.delivered_at | amCalendar }}
              </small>
              <ion-badge item-right [ngClass]="corres.status">
                {{ 'literals.'+ corres.status | trans }}
              </ion-badge>
            </button>
          </ion-list>
        </ion-card>
      </div>
    </div>
  </div>

  <ion-fab bottom right #fab>
    <button ion-fab>
      <ion-icon name="add"></ion-icon>
    </button>
    <ion-fab-list side="top">
      <div class="fab-label-button">
        <button ion-fab color="secondary" (click)="addCorrespondece(false); fab.close()">
          <ion-icon name="ios-archive"></ion-icon>
        </button>
        <div class="label">{{'crud.add' | trans }} {{'literals.correspondence' | trans }}</div>
      </div>

      <div class="fab-label-button">
        <button ion-fab color="favorite" (click)="addCorrespondece(true);fab.close()">
          <ion-icon class="fa fa-truck"></ion-icon>
        </button>
        <div class="label">{{'crud.add' | trans }} {{'literals.correspondences' | trans }}</div>
      </div>
    </ion-fab-list>
  </ion-fab>
</ion-content>
